# MongoDB Configuration
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=flights_scanner
MONGO_USERNAME=
MONGO_PASSWORD=

# Airline IDs
RYANAIR_AIRLINE_ID=39
WIZZAIR_AIRLINE_IDS=52,6002,6092

# Backend API Configuration
BACKEND_PORT=8900

# Frontend Configuration
FRONTEND_PORT=8901
API_BASE_URL=http://backend:8900

# MongoDB External Port
MONGO_EXTERNAL_PORT=8902
